*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(407deg, #0466c8, #858ae3);
    height: 95vh;
    text-align: center;
    margin-top: 40px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
  
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 0.7rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.7);
    font-size: 7vmin;
    color: #fc7753;
    background-color: #fff;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor:  pointer;
}

#new{
 padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor:  pointer;       
}

#msg{
    color: #fff;
    color: #9cf945;
    font-size: 7vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}

.title{
    font-size: 9vmin;
    color: #fff;
}