* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.navbar {
    background-color: #2c2f33; /* dark background like in the screenshot */
    padding: 10px 20px;
}

.container-fluid h2{
    font-size: 2.2rem;
    color: white;
    margin-left: 5rem;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    color: lightgray;
    margin-left: 20px;
    margin-right: 5rem;
}

.navbar-nav .nav-link:hover {
    color: white;
}

.title{
    background-color: #081b31;
    color: #fff;
    height: 7rem;
    line-height: 7rem;
    text-align: center;
    font-weight: 800;
    font-size: 4.2rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 4rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.msg-container{
    margin-top: 5rem;
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score-board .score p{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
 
    padding: 1rem;
    border-radius: 1rem;
}